<nav class="flex items-center justify-between bg-black dark:bg-gray-600 py-3">
  <!-- Logo -->
  <img src="{{ asset('images/logo_planete.png') }}" alt="Logo de votre site" class="h-8 w-auto ml-4">

  <!-- Titre du site -->
  <a href="{{ path('app_index') }}"  class="text-white font-bold">Illay travel</a>

  <!-- Liste des liens -->
  <ul class="flex flex-col md:flex-row items-center gap-y-3 gap-x-4 md:justify-center text-white">
    <li class="m-4">
      <a href="{{ path('app_index') }}">Accueil</a>
    </li>
    <li class="m-4">
      <a href="{{ path('app_articles') }}">Articles</a>
    </li>
    <li class="m-4">
      <a href="{{ path('categories_list_cat') }}">Catégories</a>
    </li>
    <li class="m-4">
      <a href="}">À propos</a>
    </li>
  </ul>
</nav>
